In [13]:
import pandas as pd
from zip_extract import zip_data

In [15]:
data = []
zips = [60108, 60194, 80205, 85254]
for zip in zips:
    data.append(zip_data(zip))
df = pd.DataFrame(data, columns = data[0].keys())

In [16]:
df.head()

     zip  population  cost_of_living  area  median_income
0  60108     23310.0           104.1   7.2        80305.0
1  60194     19317.0           104.1   3.6        72741.0
2  80205     33012.0           110.5   4.6        60235.0
3  85254     47587.0            96.0  13.6        91213.0